<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Search1</servlet-name>
        <servlet-class>servlet.Search1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search2</servlet-name>
        <servlet-class>servlet.Search2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ml2</servlet-name>
        <servlet-class>servlet.Ml2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search3</servlet-name>
        <servlet-class>servlet.Search3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ml3</servlet-name>
        <servlet-class>servlet.Ml3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ml1</servlet-name>
        <url-pattern>/Ml1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search1</servlet-name>
        <url-pattern>/Search1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search2</servlet-name>
        <url-pattern>/Search2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ml2</servlet-name>
        <url-pattern>/Ml2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search3</servlet-name>
        <url-pattern>/Search3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ml3</servlet-name>
        <url-pattern>/Ml3</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <description/>
        <display-name>search-results</display-name>
        <servlet-name>search-results</servlet-name>
        <servlet-class>servlet.Masking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ml1</servlet-name>
        <servlet-class>servlet.Ml1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>search-results</servlet-name>
        <url-pattern>/search-results</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>userAgreement</display-name>
        <servlet-name>userAgreement</servlet-name>
        <servlet-class>servlet.UserAgreement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userAgreement</servlet-name>
        <url-pattern>/userAgreement</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>postTask</display-name>
        <servlet-name>postTask</servlet-name>
        <servlet-class>servlet.PostTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>postTask</servlet-name>
        <url-pattern>/postTask</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>userAnswer</display-name>
        <servlet-name>userAnswer</servlet-name>
        <servlet-class>servlet.UserAnswer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userAnswer</servlet-name>
        <url-pattern>/userAnswer</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>task</display-name>
        <servlet-name>task</servlet-name>
        <servlet-class>servlet.Task</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>task</servlet-name>
        <url-pattern>/task</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>CallML</display-name>
        <servlet-name>CallML</servlet-name>
        <servlet-class>servlet.CallML</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CallML</servlet-name>
        <url-pattern>/CallML</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Conclusion</display-name>
        <servlet-name>Conclusion</servlet-name>
        <servlet-class>servlet.Conclusion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Conclusion</servlet-name>
        <url-pattern>/Conclusion</url-pattern>
    </servlet-mapping>
</web-app>
